<?xml version="1.0" encoding="utf-8"?>
<!-- Author: Marie West -->
<!-- Email: marie@mariewest.me -->
<!-- Website: http://mariewest.me -->
<!-- Date: 2011-12-07 -->
<configuration>
  <appSettings>
    <!-- The URL to which the app should post the system information -->
    <add key="postURL" value="http://your-domain.com/page.php" />
    <!-- Whether or not to display a reference number after successful post (set value to "true" to enable; "false" to disable) -->
    <add key="showRefNumber" value="false" />
    <!-- Application Title -->
    <add key="appTitle" value="Desktop Help Request Client" />
    <!-- Instruction text at the top of the form -->
    <add key="instructions" value="Experiencing technical difficulty? Please fill out this form to notify the IT Help Desk." />
    <!-- Comments label text (label for the third field on the form) -->
    <add key="commentsLabel" value="Feedback or Description of Problem:" />
    <!-- Message the user sees upon POST SUCCESS -->
    <add key="successMsg" value="Information successfully sent to the IT Help Desk. Thank you." />
    <!-- Message the user sees upon POST FAILURE -->
    <add key="failureMsg" value="ERROR! Information NOT sent to the IT Help Desk. Please contact us at tech@your-domain.com or (555) 123-4567." />
  </appSettings>
</configuration>